


.wrapper {
  width: 180px;
  margin: 30px auto;
  border: 1px solid silver;
  text-align: center;
  padding: 10px;
  background: #1c2648;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
}